
body {
    background-image: url("https://i.imgur.com/4KlODl0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffffff;
}
